header {
    display: block;
    width: 100%;
    height: 100vh;
    padding-bottom: 10px;
}

/* _ Banner _______________________________________________ */
/*
#main-canvas{
    position: relative;
}

#plane-canvas{
    position: absolute;
    height: 1vh;
    width: 100%;
}
*/

/*#cover{
    position: absolute;

    }*/



/* _ Carousel _______________________________________________ */


div#carousel      label {
    background: #444;
    color: #fff;
    transition: transform 400ms ease-out;
    display: inline-block;
  min-height: 100%;
    width: 100vw;
    height: 100vh;
    position: relative;
    z-index: 1;
    text-align: center;
    line-height: 100vh;
}

div#carousel {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    white-space: nowrap;
}
div#carousel input {
    position: absolute;
}



div#carousel  input:nth-of-type(1):checked ~ label:nth-of-type(1), 
div#carousel  input:nth-of-type(2):checked ~ label:nth-of-type(2),
div#carousel  input:nth-of-type(3):checked ~ label:nth-of-type(3),
div#carousel  input:nth-of-type(4):checked ~ label:nth-of-type(4){
   z-index: 0;
}

div#carousel input:nth-of-type(1):checked ~ label {
    transform: translate3d(0, 0, 0);
}

 div#carousel input:nth-of-type(2):checked ~ label {
    transform: translate3d(-100%, 0, 0);
}

 div#carousel input:nth-of-type(3):checked ~ label {
    transform: translate3d(-200%, 0, 0);
}

div#carousel  input:nth-of-type(4):checked ~ label {
    transform: translate3d(-300%, 0, 0);
}

 div#carousel label {
    background: #444;
    background-size: cover;
    font-size: 3rem;
}

div#carousel  label[for="diamonds"],
div#carousel  label[for="hearts"] {
    background: #cc0000;
}

 div#carousel label:before,
 div#carousel label:after {
    color: white;
    display: block;
    background: rgba(255,255,255,0.2);
    position: absolute;
    padding: 1rem;
    font-size: 3rem;
    height: 10rem;
    vertical-align: middle;
    line-height: 10rem;
    top: 50%;
    transform: translate3d(0, -50%, 0);
    cursor: pointer;
}

div#carousel  label:before {
    content: "\276D";
    right: 100%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}

div#carousel  label:after {
    content: "\276C";
    left: 100%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}

