

footer{
<<<<<<< Updated upstream
  position: relative;
  bottom: 0;
=======
  position: absolute;
  top: 265%;
>>>>>>> Stashed changes
  width: 100%;
}

p.footer{
	color:  #fff;
	}

.footer-distributed{
	background: #000;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;

	
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* ________________________________________________________ */
/* _          _____________________________________________ */
/* ________________________________________________________ */
.grid_4 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    background-color: #7f7f7f;
    height: 100%;
    padding: 15px;
    gap: 5px;
	color:  #fff;
  }
    
.grid_4 > div{
    background: #000000;
    padding: 8px;
  }

.scramble {
	height: 100%;
	width: 100%;
	justify-content: center;
	align-items: center;
	display: flex;
}
  
.text {
	font-weight: 100;
	font-size: 28px;
	color: #00ff00;
}


/* ________________________________________________________ */
/* _  Section Counter _____________________________________________ */
/* ________________________________________________________ */

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 5px;
}

.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 10px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #444;
  color: white;
}

.fa {font-size:50px;}
/* ________________________________________________________ */






