
/* _ Slide _____________________________________________ */
/* _ Megamenu _______________________________________________ */
html{

}


* {
	box-sizing: border-box;
}

body {
	font-family: Verdana, sans-serif;

	  margin: 0;
}


main{

	height: 100vh;
}


/* _ Megamenu _____________________________________________ */
.navbar {
	overflow: hidden;
	background-color: #333;
	font-family: Arial, Helvetica, sans-serif;

}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 100%;
  height: 89%;
  left: 0;
  z-index: 1;
  background-color: #ddd;
}

.dropdown-content .header {
  background: red;
  padding: 16px;
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  background-color: #ccc;
 
}

.column a {
  float: none;
  color: black;
  padding: 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.column a:hover {
  background-color: #ddd;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.row {
  height: 70px;
}



/* _ Tablink _______________________________________________ */

/* Style tab links */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
  /* display: relative; */
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: white;
  display: none;
  padding: 48px 0px;
  height: 100%;

}

.checked {
  display: block;
}



#Home {background-color: #444; }
#News {background-color: #444;}
#Contact {background-color: #444;}
#About {background-color: #444;}





		.navbar a:hover, .dropdown:hover .dropbtn {
		background-color: #222;
		color: black;
		
		}

		.dropdown-content .header {
		background: #666;
		color: black;
		
		}












 /*vertical menu */

.container {
  display: flex;
  width: 100%;
  padding: 4% 2%;
  box-sizing: border-box;
  height: 89vh;
  background-color: #333;
}

.box {
  flex: 1;
  overflow: hidden;
  transition: 0.5s;
  margin: 0 2%;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
  line-height: 0;
}

.box > img {
  width: 200%;
  height: calc(100% - 10vh);
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.5s;
}

.box > span {
  font-size: 3.8vh;
  display: block;
  text-align: center;
  height: 10vh;
  line-height: 2.6;
}

.box:hover {
  flex: 1 1 90%;
}

.box:hover > img {
  width: 100%;
  height: 100%;
}
     






    
/*---------------------*/
.tabs {
  height: 83vh;
  position: relative;
  overflow: hidden;
}

input[type=radio] {
  position: absolute;
  left: 0;
  width: 24px;
  height: 25%;
  outline: 12px solid;
  outline-offset: -12px;
  margin: 0;
  padding: 0;
  z-index: 1;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
}
input[type=radio]:nth-of-type(1) {
  outline-color: #555;
  top: 0%;
}
input[type=radio]:nth-of-type(2) {
  outline-color: #666;
  top: 25%;
}
input[type=radio]:nth-of-type(3) {
  outline-color: #777;
  top: 50%;
}
input[type=radio]:nth-of-type(4) {
  outline-color: #888;
  top: 75%;
}
input[type=radio]:checked + .content {
  transform: translateX(0%);
  transition: transform 0.05s ease 0.05s;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.4s ease;
  transform: translateX(-100%);
}
.content:nth-of-type(1) {
  background-color: #555;
}
.content:nth-of-type(2) {
  background-color: #666;
}
.content:nth-of-type(3) {
  background-color: #777;
}
.content:nth-of-type(4) {
  background-color: #888;
}

.title {
  font-size: 5vw;
  font-weight: bold;
  color: #fff;
}




