header{
	background: #777;
 	display: flex; /* or inline-flex */
	justify-content:space-between;
}


nav{
 	display: flex; /* or inline-flex */
	justify-content:space-evenly;
}

.nav_span
.header_span{
flex-basis:  | auto;
}

#openbtn{


}

.discipline{
	width: 200px;
display: inline;
	 text-align : center;
	background: #999;
	font-size:150%; ;
}