/* ________________________________________________________ */
/* _  Tiles        ________________________________________ */
/* ________________________________________________________ */
.tiles {
/*  
  font-size: 0;

  position: absolute;
  top: 50%;
  left: 50%; */
 /* 
  border-radius: 100px; */
    text-align: center;
}

.tiles .tile {
  display: inline-block;
  /* margin: 10px; */
 
/*   opacity: 0.99; */
  overflow: hidden;
  position: relative;
  /* border-radius: 100px; */
 /*  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05); */

  
}
.tiles .tile:before {
/*   content: ""; */
/*   background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%); */
/*   width: 100%;
  height: 50%; */
  opacity: 0;
  position: relative;
/*   top: 100%; */
  left: 0;
  z-index: 2;
/*   transition-property: top, opacity; */
/*   transition-duration: 0.3s; */
}
.tiles .tile img {
  display: block;
  max-width: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  
  	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
  
  
}
.tiles .tile .details {
  font-size: 14px;
  /* padding: 10%; */
  color: #000;
  position: relative;
/*   bottom: 50%; */
  /* left: 10%; */

  z-index: 99;
 
  
  
}
.tiles .tile .details span {
  display: block;
/*   opacity: 0; */
  position: relative;
/*   top: 0%; */
  /* transition-property: top, opacity; */
  transition-duration: 0.3s;
  transition-delay: 0s;


    z-index: 99;
}
.tiles .tile .details .title {
  line-height: 3;
  font-weight: 600;
  font-size: 12px;
   /*  left: 05%; */

}
/* .tiles .tile .details .info {
  line-height: 1.2;
  margin-top: 5px;
  font-size: 06px;

} */
.tiles .tile:focus:before,
.tiles .tile:focus span, .tiles .tile:hover:before,
.tiles .tile:hover span {
  opacity: 1;
}
.tiles .tile:focus:before, .tiles .tile:hover:before {
  top: 50%;
}
.tiles .tile:focus span, .tiles .tile:hover span {
  top: 0;
}
.tiles .tile:focus .title, .tiles .tile:hover .title {
  transition-delay: 0.15s;
}
.tiles .tile:focus .info, .tiles .tile:hover .info {
  transition-delay: 0.25s;
}

.row-padding, .row-padding>.half, .row-padding>.third, .row-padding>.twothird, .row-padding>.threequarter, .row-padding>.quarter, .row-padding>.col {
    padding: 0 8px;
}

.row:after, .row:before, .row-padding:after, .row-padding:before {
    content: "";
    display: table;
    clear: both;
}
